{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>
<p class="lead">
  <iframe
        src="https://www.youtube.com/embed/LWzIM0wo4SA"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</p>
<p class="lead">
  <iframe
        src="https://www.youtube.com/embed/-Wkud6YLphE"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</p>
<p class="lead">
  <iframe
        src="https://www.youtube.com/embed/2VI4AyiVKwQ"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</p>
<p class="lead">
  <iframe
        src="https://www.youtube.com/embed/un0niCw4lwM"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</p>
<ul>
  <!-- If you are using pagination, section.pages will be empty. You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}
