{% extends "base.html" %}

{% block content %}
<h1><img src="/hermit.svg" width="270" height="299" alt="hermit records"></h1>
<p class="lead">
  A blast from the future past! Ancient music plus state of the art technology. 
  We don't just make music and play it live we also teach it and design sounds for games, theater and video.
</p>
<p class="lead">
  <iframe
        src="https://www.youtube.com/embed/6GrYDqcv8Zk"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</p>
{% endblock content %}
